.wraper_cont{
    padding-top: 50px;
}
.data_pub{
    color: #8a6d3b;
}
.title_article{
    font-size: 42px;
}

/*Основной текст(абзац)*/
.text_post{
    font-size: 28px;
   text-align: justify;
}


.link_title_article{
    color: #5e5e5e;
}

.link_title_article:hover{

    text-decoration: none;
    color: black;
}
.back{
    font-size: 26px;
    color: #9d9d9d;
}

.back:hover{
     text-decoration: none;
    color: black;
}

.icon-back{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.tren_img{
    float: right;
}

/*p{*/
    /*color: red;*/
/*}*/